aiofiles==24.1.0
aiogram==3.18.0
aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiosignal==1.3.2
annotated-types==0.7.0
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1733753955715/work
archspec @ file:///home/conda/feedstock_root/build_artifacts/archspec_1737352602016/work
asttokens==3.0.0
attrs==25.1.0
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1738740337718/work
blinker==1.9.0
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1733827268945/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1725267488082/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1739515848642/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1725560558132/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1735929714516/work
click==8.1.8
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
conda @ file:///home/conda/feedstock_root/build_artifacts/conda_1736947900115/work
conda-libmamba-solver @ file:///home/conda/feedstock_root/build_artifacts/conda-libmamba-solver_1727359833193/work/src
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1736345463896/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1729004031731/work
decorator==5.1.1
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1734729835256/work
executing==2.2.0
fastjsonschema==2.21.1
Flask==3.1.0
frozendict @ file:///home/conda/feedstock_root/build_artifacts/frozendict_1728841327252/work
frozenlist==1.5.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1733298745555/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1733299205993/work
html5lib @ file:///home/conda/feedstock_root/build_artifacts/html5lib_1734075161666/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1733298771451/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
import-ipynb==0.2
ipython==8.32.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.5
joblib==1.4.2
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1733814567314/work
jsonpointer @ file:///home/conda/feedstock_root/build_artifacts/jsonpointer_1725302935093/work
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_core==5.7.2
libmambapy @ file:///home/conda/feedstock_root/build_artifacts/mamba-split_1735835715095/work/libmambapy
lxml @ file:///home/conda/feedstock_root/build_artifacts/lxml_1739211564082/work
magic-filter==1.0.12
mamba @ file:///home/conda/feedstock_root/build_artifacts/mamba-split_1735835715095/work/mamba
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
menuinst @ file:///home/conda/feedstock_root/build_artifacts/menuinst_1731146972698/work
multidict==6.1.0
multitasking==0.0.11
nbformat==5.10.4
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1739425576395/work/dist/numpy-2.2.3-cp312-cp312-linux_x86_64.whl#sha256=68b15abc87423b478db525b2a06a381bcad198019c77d25b34aaed84536beee2
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1726878417179/work
parso==0.8.4
peewee @ file:///home/conda/feedstock_root/build_artifacts/peewee_1738788759734/work
pexpect==4.9.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1733232627818/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1733222765875/work
prompt_toolkit==3.0.50
propcache==0.2.1
ptyprocess==0.7.0
pure_eval==0.2.3
pycosat @ file:///home/conda/feedstock_root/build_artifacts/pycosat_1732588402431/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.19.1
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
pytz==2025.1
referencing==0.36.2
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
rpds-py==0.23.0
ruamel.yaml @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml_1736248036158/work
ruamel.yaml.clib @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml.clib_1728724466132/work
setuptools==75.8.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
soupsieve==2.6
stack-data==0.6.3
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
traitlets==5.14.3
truststore @ file:///home/conda/feedstock_root/build_artifacts/truststore_1729762363021/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1733188668063/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1737541069190/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1734859416348/work
wcwidth==0.2.13
webencodings @ file:///home/conda/feedstock_root/build_artifacts/webencodings_1733236011802/work
Werkzeug==3.1.3
wheel==0.45.1
yarl==1.18.3
zstandard==0.23.0
